@import "tailwindcss";

@font-face {
  font-family: "Inter";
  src: url(../fonts/Inter-VariableFont_opsz\,wght.ttf), format("truetype");
  font-weight: 100 900;
  font-style: normal;
}

@theme {
  --animate-fadeIn: fadeIn 0.3s ease-in-out;

  @keyframes fadeIn {
    from {
      opacity: 0;
      transform: translateY(-20px);
    }

    to {
      opacity: 1;
      transform: translateY(0px);
    }
  }
}
